@media only screen and (max-width: 1023px){
    #logo img {
        display: flex;
        width: 200px;
        max-width:  300px;
        padding: 0;
        margin:0;
        
        
        justify-content: center;
    }
    nav{
        float: center;
    }
    nav ul{
        border-radius: 1.0em;
        margin-bottom: 1em;
        font-weight: bold;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
    }
    nav ul li{
        padding: 5px 10px;
        text-decoration: none;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
    }
}
@media only screen and (min-width:1024px) {
    nav{
        float:right;
    }
    nav ul{

    }
}

