@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Body styling */
html{
    overflow: visible;
    height: 100%;
    margin: auto;   
    scroll-behavior: smooth ;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
    color: #333;
    
}

#title{
    margin: 0 auto;
    text-align: center;
}
#title h1{
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-align: center;
    text-decoration: underline;
}
#logoNav {
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.881) 100%);
    top:0   ;
    position: sticky;
    display: flex;                 /* Enables horizontal alignment */
    align-items: center;           /* Aligns items vertically within the container */
    justify-content: space-between; /* Ensures even spacing between the logo and nav */
    padding: 10px 20px;            /* Adds some padding around the container */
    z-index: 2;
}
/* Container for the contact form */
.contact-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
    
}

.contact-container h2 {
    text-decoration: underline;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
    margin-left: auto;
    margin-right: 30px;
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contact-container button[type="submit"]:hover {
    background: #333;
}

#footer {
    margin-top: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    z-index: 0;
  }

/* Responsive design */
@media (max-width: 768px) {
    .contact-container {
        height: 200%;
        padding: 15px;
    }

    .contact-container h2 {
        text-align: center;
        font-size: 30px;
    }

    .contact-container button[type="submit"] {
        width: 100%;
    }
}