@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@700&family=Bebas+Neue&display=swap');

/* Global Styles */
html, body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden; /* Corrected this line */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
#logoNav {
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.881) 100%);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 2;
}

#logoNav .logo {
    z-index: 2;
    max-height: 75px;
    filter: invert(1);
}

#title {
    z-index: 2;
    margin: 0 auto;
    text-align: center;
}

#title h1 {
    
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: underline;
}

#logoNav nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

#logoNav nav ul li {
    border: 3px solid rgba(255, 255, 255, 0.177);
    border-radius: 1000px;
    margin: 1px;
    transition: background-color 1s;
}

#logoNav nav ul li a {
    padding: 5px 10px;
    min-width: 75px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

#logoNav nav ul li:hover {
    background-color: whitesmoke;
}

#logoNav nav ul li a:hover {
    color: black;
}


#bar1, #bar2 {
    position: absolute;
    height: 100vh; /* Use viewport height instead of fixed height */
    width: 15%;
    z-index: 1;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0) 80%, rgba(0, 0, 0, 0) 100%);
}

#bar2 {
    right: 0;
    background: linear-gradient(90deg, rgb(0,0,0,0), rgba(0,0,0) 20%, rgb(0, 0, 0) 100%);
}
#scrollTitle{
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: underline;
}
/* Scroll Container */
.scroll-container {
    display: flex;
    margin-top: 100px;
    overflow: hidden; /* Prevent horizontal overflow */
    width: 100%; /* Ensure it fits within the viewport */
}

.scroll-content {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
}

#scrollTitle {
    display: flex;
    margin: 200px auto 100px auto;
}

.scroll-content img {
    width: 10vw;
    height: auto;
    margin: 0 10px;
    z-index: 0;
}

/* Footer */
#footer {
    position: absolute;
    bottom: 0;
}

/* Keyframes */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Media Queries 
@media screen and (max-width: 768px) {
    #title {
        position: fixed;
        top: 10px; 
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%; 
        z-index: 3; 
    }
    #portfolio_thumbnail, #weatherpage_thumbnail {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    #my_portfolio_card {
        padding: 10px;
        margin: 50px 0;
        background-color: aliceblue;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.807), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .under-container {
        position: static;
        z-index: 0;
        background-color: black;
        margin: 0 auto;
        max-height: 200px;
        justify-content: center;
        padding: 10px;
    }

    #scrollTitle {
        width: 144px;
        height: auto;
        margin: 0;
    }
}
*/