@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@700&family=Bebas+Neue&display=swap');

/* Global Styles */
html, body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 70%;
}

/* Navigation Bar */
#logoNav {
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.881) 100%);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 2;
}

#logoNav .logo {
    z-index: 2;
    max-height: 75px;
    filter: invert(1);
}

#title {
    z-index: 2;
    margin: 0 auto;
    text-align: center;
}

#title h1 {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: underline;
}

#logoNav nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

#logoNav nav ul li {
    border: 3px solid rgba(255, 255, 255, 0.177);
    border-radius: 1000px;
    margin: 1px;
    transition: background-color 1s;
}

#logoNav nav ul li a {
    padding: 5px 10px;
    min-width: 75px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

#logoNav nav ul li:hover {
    background-color: whitesmoke;
}

#logoNav nav ul li a:hover {
    color: black;
}

/* Side Bars */
#bar1, #bar2 {
    position: absolute;
    height: 100vh;
    width: 15%;
    z-index: 1;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0) 80%, rgba(0, 0, 0, 0) 100%);
}

#bar2 {
    right: 0;
    background: linear-gradient(90deg, rgb(0,0,0,0), rgba(0,0,0) 20%, rgb(0, 0, 0) 100%);
}

/* Scroll Container */
.scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Full viewport height */
}

.scroll-content {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
}

#scrollTitle {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: underline;
    text-align: center;
}

.scroll-content img {
    width: 144px;
    height: auto;
    margin: 0 10px;
    z-index: 0;
}

/* Footer */
#footer {
    position: absolute;
    bottom: 0;
}


/* Media Queries*/ 
@media screen and (max-width: 768px) {
    body{
        width: 100%;
    }
    #bar1, #bar2{
        width: 10%;
        padding: 0;
        margin: 0;
    } 
    .scroll-content{
        width: 60%;
        overflow: hidden;
    }
    .scroll-content img{
        width: 48px;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .menu{
        position: absolute !important;
    }
    .sidenav{
        position: absolute !important;
    }
    .sidnav a{
        position: absolute;
    }
    
}
